/**
 * @file
 * Styling for admin configuration page.
 */

.confing_filter .list {
  font-family: sans-serif;
  margin:0;
  padding: 20px 0 0;
}
.confing_filter li {
  display:block;
  float: left;
  margin: 0 0.5em 1em 0;
  background-color: #eee;
}
.confing_filter li .admin-panel {
  margin: 0;
  border-bottom: 5px solid #ccc;
  background: #f8f8f8;
  text-align: center;
  min-width: 180px;
}
.confing_filter.config-filter-show-desc li .admin-panel {
  min-width: 180px;
  width: 350px;
  height: 90px;
  overflow: scroll;
  text-align: left;
}
.confing_filter img {
  max-width: 100%;
}
.confing_filter h3 {
  font-size: 16px;
  clear: both;
  margin: 0.7em 0 0.8em;
  font-weight:bold;
  display: inline-block;
  width: 100%;
  background: #eee;
  padding: 6px;
}
.confing_filter p {
  margin:0;
}
.confing_filter input {
  border:solid 1px #ccc;
  border-radius: 5px;
  padding:7px 14px;
  margin-bottom:10px
}
.config-filter-search-wrapper input:focus {
  outline: none;
  border-color: rgba(0, 116, 189, 0.3);
  transition: all 0.5s ease-in;
}
.config-filter-search-wrapper {
  text-align: center;
}
.config-filter-search-wrapper .compact-link {
  width: 500px;
  margin: 0.5em auto 0;
  text-align: right;
}
.config-filter-search-wrapper .search {
  height: 22px;
  border: 2px solid lightgray;
  font-size: 15px;
  width: 500px;
  padding: 5px;
  transition: all 0.5s ease-in;
  border-radius: 5px;
}
